/target/
/.idea
/*.iml
/.settings/
/.classpath
/.project
/dependency-reduced-pom.xml
/bin/
/doc/
/config/
/data/
/GeoSpark_Result/
/log/
*.json
*.geojson
application/src/main/resources/data/
*.iml
*.DS_Store
